@page
@model IndexModel
@using VanbaApp.Data
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">VANBA</h1>
    <p>die Sprache zwischen zwei besten Freunden</p>
    <form method="POST">
    <p>
        Suche: <input type="text" name="searchstring"/>
        <input type="submit" value="GO" asp-page-handler="Search"/>
    </p>
</form>
    <p>Alphabet:</p>
    <p>
        @foreach (var letter in @Alphabet.Consonants){
            <span>@(letter)</span>
        }
    </p>
    <p>@foreach (var letter in @Alphabet.Vowels){
            <span>@(letter)</span>
        }<p>
</div>
